@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for mobile navigation */
.mobile-nav-scroll::-webkit-scrollbar {
  width: 6px;
}

.mobile-nav-scroll::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 10px;
}

.mobile-nav-scroll::-webkit-scrollbar-thumb {
  background: #6ee7b7;
  border-radius: 10px;
}

.mobile-nav-scroll::-webkit-scrollbar-thumb:hover {
  background: #34d399;
}
